@import url("../components/full-page-scroll.css");

[v-clock] {
    display: none;
}

#loadingScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 600px;
    min-height: 400px;
    width: 100%;
    height: 100%;
    z-index: -100;
    object-fit: fill;
}

#logoView {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
}

#section3Header {
    font-size: 4rem;
    font-weight: 600;
    color: white !important;
    margin-bottom: 2rem;
}

.scroll-section1 {
    background-color: #121212;
    border-top: 0px;
    border-bottom: 0px;
    overflow: hidden;
}

.scroll-section2 {
    background-color: #07080f;
    overflow: hidden;
}

.scroll-section3 {
    /*background-color: #655eff;*/
    background-image: url('/images/pexels-visit-greenland-360912.jpg');
    background-size: cover;
    overflow: hidden;
}

.scroll-section5 {
    background-color: #121212;
}

.front-label {
    font-family: 'Anton', sans-serif !important;
    color: rgb(247, 190, 4);
    font-weight: 500 !important;
    font-size: 100px;
    margin-top: 50px;
}

.contents {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: auto;
    margin-bottom: auto;
}

.preface {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 150px;
}

.header-preface {
    color: white;
    margin-bottom: 40px;
}

.img-logo {
    display: inline-block;
    width: 760px;
    height: 480px;
    margin-left: 2px;
    margin-right: 30px;
    image-rendering: -webkit-optimize-contrast;
}


.container-skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
    margin-right: 20px;
}

.skill-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
    padding-top: 40px;
    padding-bottom: 30px;
    max-width: 600px;
    opacity: 0.0;
}

.img-skills {
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 1rem;
    /*border: 3px solid rgb(255, 60, 0);*/
    margin-left: 2px;
    margin-right: 30px;
    image-rendering: -webkit-optimize-contrast;
    box-shadow: 0px 0px 10px 5px rgba(0, 247, 255, 0.3);
}

.overlay-box-page3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 20px 20px 20px;
}

.skill-desc-header {
    font-family: 'Anton', sans-serif !important;
    color: rgb(247, 0, 41);
    font-weight: 500 !important;
    font-size: 50px;
    overflow: hidden;
    text-align: left;
}

.skill-desc-details {
    text-align: left;
    vertical-align: center;
    color: white;
    margin-bottom: 0px;
}

.skill-desc-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}


.fade-1s {
    animation-delay: 0.3s;
    animation-duration: 1s;
    animation-name: fade;
    animation-fill-mode: forwards;
}

.fade-2s {
    animation-delay: 0.6s;
    animation-duration: 1s;
    animation-name: fade;
    animation-fill-mode: forwards;
}

.fade-3s {
    animation-delay: 0.9s;
    animation-duration: 1s;
    animation-name: fade;
    animation-fill-mode: forwards;
}

.section-center {
    font-family: "Open Sans";
    font-style: normal;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.scrollable-page {
    font-family: "Open Sans";
    font-style: normal;
    text-align: center;
    position: relative;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 70px;
    /*top: 50%;
    transform: translateY(-50%)*/;
}

.button {
    background-color: #f2cf66;
    border-bottom: 5px solid #d1b358;
    text-shadow: 0px -2px #d1b358;
    padding: 10px 40px;
    border-radius: 10px;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
}

.overlay-dark {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.flex-center-vh {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bg-particle {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
}


.curr-project-image {
    margin: 2rem 2rem 2rem 2rem;
}


.ref-link {
    width: 150px;
    height: 45px;
    border-radius: 5px;
    cursor: pointer;
}

.ref-hyperlink{
    color:white;
    text-decoration: none;
}

#linkedinRef {
    background-color: rgb(0, 102, 255);
    color:white;
}

#githubRef {
    background-color: black;
    color:white;
}

#section1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


@keyframes fade {
    from {
        opacity: 0.0;
    }

    to {
        opacity: 1.0;
    }
}

@media only screen and (max-width: 1280px) {
    .img-skills {
        width: 10rem;
        height: 10rem;
    }

    .header-skills {
        font-size: 30px;
        font-weight: 400 !important;
    }

    .preface {
        margin-right: 18px;
    }

    /*.skill-item {
        max-width: 400px;
    }*/

    .container-skills {
        margin-left: 60px;
    }
}

@media only screen and (max-width: 768px), only screen and (max-height:880px) {
    .img-skills {
        width: 7rem;
        height: 7rem;
    }

    .img-logo {
        width: 320px;
        height: 200px;
    }

    .header-skills {
        font-size: 25px;
        font-weight: 400 !important;
    }

    .skill-desc-header {
        font-size: 25px;
    }

    .skill-desc-header {
        font-size: 40px;
    }

    .front-label {
        font-weight: 400 !important;
        font-size: 80px;
    }

    .skill-desc-details {
        font-size: 14px;
    }
}

@media only screen and (max-width: 660px), only screen and (max-height:800px) {
    .img-skills {
        width: 100px;
        height: 100px;
    }

    .header-skills {
        font-size: 17px;
        font-weight: 300 !important;
    }

    .skill-desc-header {
        font-size: 25px;
    }

    .contents {
        margin-left: 10px;
        margin-right: 10px;
    }

    .container-skills {
        padding-top: 10px;
        margin-bottom: 10px;
    }


    .front-label {
        font-weight: 400 !important;
        font-size: 70px;
    }

    .skill-desc-details {
        font-size: 14px;
    }
}

@media only screen and (max-width: 960px), only screen and (max-height:768px) {
    .preface {
        display: none;
    }
}


@media only screen and (max-height:768px) {
    .skill-item {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

