#menu {
    padding-bottom: 5px;
    border-bottom: 0.7px white solid;
}

#peer-list-section {
    overflow-y: visible;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

#peer-page-content {
    width: 100vw;
    min-height: 100vh;
    padding-top: 70px;
    background-color: #181818;
    border-bottom: 2px dashed white;
    margin-bottom: 20rem;
}

.row-padding {
    padding-top: 8px;
    padding-bottom: 8px;
}

.username {
    min-width: 120px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    color: white;
}


.form-container {
    width: auto;
    height: auto;
    background-color: transparent;
    padding: 3px 3px 3px 3px;
    margin-left: 15px;
    margin-right: 15px;
}

.request-container {
    min-width: 300px;
    max-width: 600px;
    width: 100%;
    height: auto;
    background-color: transparent;
    padding: 3px 3px 3px 3px;
    margin-left: 15px;
    margin-right: 15px;
}

.request {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgb(33, 33, 33);
    border-radius: 5px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.activetab {
    color: white;
    background: rgb(47, 134, 6);
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    vertical-align: middle;
}

.pending-request-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
